
*{margin: 0; padding: 0;}
body{background: #25973dec; font-family: sans-serif;}
        
.form-wrap{ width: 320px; background: #c28d8d; padding: 40px 20px; box-sizing: border-box; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
h1{text-align: center; color: rgb(68, 10, 107); font-weight: normal; margin-bottom: 20px;}
        
input{width: 100%; background: none; border: 1px solid rgb(44, 18, 104); border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: rgb(255, 255, 255);}
        
input[type="submit"]{ background: #88f07b; border: 0; cursor: pointer; color: #3f1379;}
input[type="submit"]:hover{ background: #4fe693; transition: .6s;}
        
::placeholder{color: rgb(35, 9, 104);}
    
